# Ignore Python virtual environments
ml_env_313/
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Git metadata
.git/
.gitignore

# Ignore local config / temp files
.env
.DS_Store
*.log

# Ignore Jupyter checkpoints
.ipynb_checkpoints/
